Repository codelab2006/electron-windows-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{tsx,ts}": [
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{scss,css,json,html}": [
    "prettier --write"
  ]
}

u
  src/main.ts
Due: eslint --max-warnings 0, prettier --write

u
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/launch.json
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

u
  .eslintignore
  package-lock.json
  package.json
  src/abstract/Component.ts
  src/components/Component.ts
  src/components/ComponentInst.ts
  src/main.ts
  src/preload.ts
  tsconfig.json
  webpack.common.js
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
  xxx/index.html
  xxx/main.js
  xxx/preload.js
  xxx/renderer.js
Due: eslint --max-warnings 0, prettier --write

u
  src/main.ts
  tsconfig.json
Due: eslint --max-warnings 0, prettier --write

u
  package-lock.json
  package.json
  tsconfig.json
  webpack.common.js
Due: prettier --write

u
  .eslintignore
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: none

u
  .lintstagedrc
  package-lock.json
  package.json
  src/main.ts
  src/renderer.ts
  webpack.common.js
Due: eslint --max-warnings 0, prettier --write

u
  src/main.ts
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: eslint --max-warnings 0, prettier --write

u
  .eslintignore
  package-lock.json
  package.json
  src/html/renderer.html
  src/main.ts
  src/renderer.ts
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  xxx/main.js
  xxx/preload.js
  xxx/renderer.js
Due: eslint --max-warnings 0, prettier --write

u
  tsconfig.json
  webpack.common.js
Due: prettier --write

u
  .vscode/launch.json
  package.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write

u
  webpack.common.js
  webpack.dev.js
Due: none

u
  package-lock.json
  package.json
  webpack.common.js
Due: prettier --write

u
  package-lock.json
  package.json
Due: prettier --write

u
  package-lock.json
  package.json
  src/components/ComponentInst.ts
Due: eslint --max-warnings 0, prettier --write
